@font-face {
    font-family: MotionControl;
    font-weight: bold;
    src: url('../font/MotionControl-Bold.otf');
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 3vh;
    font-family: MotionControl;
}

* {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
    visibility: hidden;
}